body{
   margin: 0%; 
   padding: 0%
}

h1{
    margin: 0;
    font-family: Georgia;
    color: #37342c;
}

h2{
    
    margin: 0;
    font-family: garamond;
    font-size: 50px;
    color: #37342c;
}

h3{
    font-size: 24px;
    margin: 0;
    font-family: garamond;
    color: #37342c;
}

h4{
    font-size: 16px;
    margin: 0;
    font-family: garamond;
    color: #37342c;
}

/* All about container 1 */
#container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url("img/Narelle\ Dennis\ Kyara\ in\ Bos.jpeg");
    background-size: cover;
    background-position: center bottom;
}

#header-text{
    font-size: 500%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;
}
#text-dennis-position{
    text-align: center;
}

  
#header-sub-text{
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;
}

#text-journey-position{  
    text-align: center;
}


/* All about Container 2 */
#container2{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-box2-1{
    width: 400px;
    height: auto;
    margin-bottom: 100px;
}

#title2-1{ 
    margin-bottom: 10px;
}

#subtext2-1{
    margin-bottom: 10px;
}

#photo-dennis-kyara {
    width: 400px;  /* De foto vult nu de breedte van zijn container */
    height: auto;   /* Behoudt de verhoudingen */
    border-radius: 50%;
    margin-top: 200px;
    margin-bottom: 20px;
}



/* All about Container 3 */
#container3{
    max-width: 100%;
    background-color: #d1b395;
}


#flexbox3-1{
    display: flex;
    flex-direction: column;
    align-items: center;  
    position: relative;
    left: 100px;
    top: 70px;
}

#text-box3-1{
    margin-top: 100px;
}

#title3-1{
    font-size: 50px;
}

#subtext3-1{
    font-size: 24px;
}


#flexbox3-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}

#phone-png{
    width: auto;
    height: 500px;
    margin: 0;
    border: none;
}

#tinproject-mp4{
    max-width: 100%;
    width: 600px;
    height: auto;
    margin-bottom: 100px;
    position: relative;
}

/* All about container 4 */
#container4{
    max-width: 100%;
}

#title4-1{
    margin-top: 100px;
    text-align: center;
}

#element-box4-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#element4-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
}

#coding-png{
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    margin-right: 40px;
}

#element4-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 60px;
}

#karate-png{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
}

.subtitles-container4{
    margin-bottom: 10px;
}


/* All about container 5 */
#container5{
    box-shadow: 0px -0.1px 10px -5px rgba(0, 0, 0, 0.3);
    clip-path: inset(-10px 0px 0px 0px);
    max-width: 100%;
    height: 80vh;
}

#box5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#title5-1{
    margin-top: 20vh;
}

#text5-1{
    text-align: center;
    margin-top: 80px;
    width: 70vh;
}

#social-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-logo{
    margin-inline: 30px;
    margin-top: 70px;
    margin-bottom: 50px ;
    height: 50px;
}

#button5-1{
    border: none;
    font-weight: bold;
    background-color: #ad8461;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin-top: 100px;
}


/* All about container 6 */
#container6{
    background-color: #ad8461;
}



#footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dentree-code{
    margin: 20px;
}

#dentree-code{
    color: black;
}